#hello b {
    margin-left: .3rem;
}

.sr {
    margin-right: .3rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container form {
    margin: 8px;
}

.upload {
    margin-top: 8px;
}
