#hello b {
    margin-left: .3rem;
}

.sr {
    margin-right: .3rem;
}

.col-sm {
    background-color: #f4f4f4;
    border: 1px solid #FFF8DC;
}

.about {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 6px;
    background-color: #f4f4f4;
    border-radius: 20px;
    border: 1px solid #FFF8DC;
}

.about-home p {
    text-align: justify;
}

.about-home h2 {
    margin-top: 10px;
    text-align: center;
}

.about-home ol {
    margin: 16px;
}

.info {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container form {
    margin: 8px;
}

.upload {
    margin-top: 8px;
}
